:root {
    /* ------- COLORS ------- */

    --color-red: hsl(0, 78%, 62%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-orange: hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);
    --color-bg: hsl(0, 0%, 98%);
    --color-text: hsl(232, 12%, 34%);
    --color-text-light: hsla(232, 12%, 34%, 50%);
}

/* ------- BASIC ------- */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    align-items: center;
    background-color: var(--color-bg);
    color: var(--color-text);
    display: flex;
    font-size: 0.9375rem;
    font-weight: 400;
    font-family: 'Poppins', 'Arial', 'Helvetica', sans-serif;
    justify-content: center;
    min-height: 100vh;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a,
a:link,
a:visited,
a:active {
    text-decoration: none;
}

/* ------- FEATURE SECTION ------- */

.feature {
    padding: 5.3125rem 2rem 4.875rem 2rem;
    max-width: 375px;
}

.feature__title,
.feature__slogan {
    font-size: 1.5rem;
    line-height: 36px;
    text-align: center;
}

.feature__title {
    font-weight: 200;
}

.feature__slogan {
    font-weight: 600;
}

.feature__description {
    color: var(--color-text-light);
    line-height: 25px;
    margin-top: 1rem;
    margin-bottom: 4.75rem;
    text-align: center;
}

.card {
    box-shadow: 0 15px 30px hsla(213, 47%, 67%, 50%);
    border-radius: 0.5em;
    min-height: 222px;
    margin-bottom: 1.4375rem;
    padding: 1.6875rem;
    position: relative;
}

.card--cyan {
    border-top: 4px solid var(--color-cyan);
}

.card--orange {
    border-top: 4px solid var(--color-orange);
}

.card--red {
    border-top: 4px solid var(--color-red);
}

.card--blue {
    border-top: 4px solid var(--color-blue);
}

.card__title {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 30px;
}

.card__description {
    color: var(--color-text-light);
    font-size: 0.8125rem;
    line-height: 23px;
}

.card__img {
    bottom: 1.75rem;
    height: 57px;
    position: absolute;
    right: 1.75rem;
    width: 57px;
}
